body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    background: #128298;
}

a {
    text-decoration: none;
    color: inherit;
}

.relative {
    position: relative;
}

.clear {
    clear: both;
    float: none;
}

.primary-cyan-text {
    color: #18ffff;
}

.primary-cyan-bg {
    background: #18ffff;
}

.hero {
    background: url('../img/bg/blue-wave-wallpaper.jpg') 0 0 no-repeat;
    height: 550px;
    position: relative;
    z-index: -1;
}

.hero-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-title {
    margin-top: 210px;
    color: #FFF;
    font-size: 110px;
}

.circles-block {
    position: absolute;
    top: 430px;
    width: 100%;
}

.circle-block {
    display: inline-block;
    color: #FFF;
    font-size: 30px;
}

.surfboard-card {
    background: url('../img/misc/surfboard.jpg') 0 0 no-repeat;
    background-position: -60px;
    background-size: 140%;
}

.cleanup-card {
    background: url('../img/misc/beach-cleanup.jpg') 0 0 no-repeat;
    background-position: -60px;
    background-size: 140%;
}

.twelve-card {
    background: url('../img/misc/12.jpg') 0 0 no-repeat;
    background-position: -2px;
    background-size: 105%;
}

.drawer-header {
    /*background: url('../img/misc/sos-bottle.jpg') 0 0 no-repeat;*/
    /*background-size: 100%;*/
    height: 60px;
    font-size: 30px;
    line-height: 2;
    color: #fff;
    margin-bottom: 10px;
}

.main-block {
    height: 500px;
}

.app-bar-burger {
    background: url('../img/icons/ic_menu_white_24px.svg') 0 0 no-repeat;
    width: 34px;
    height: 34px;
    background-size: 100%;
}

.example-enter {
  opacity: 0.01;
}

/*transition group*/
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}
/*end transition group*/

.main-info-wrapper {
    margin: 0 auto;
    width: 90%;
}

.card-margin-top {
    margin-top: 230px;
}

.dt-menu {
    margin-top: 12px;
}

#footer {
    background: #128298;
    height: 100px;
    margin-top: 250px;
}

.nav-logo {
    display: inline-block;
}

.nav-logo-r {
    font-size: 40px;
}

.nav-logo-x {
    font-size: 30px;
    position: absolute;
    top: 12px;
    font-style: italic;
    right: -13px;
}

.nav-outline {
    background: #e1f8ff;
    padding: 8px;
    border-radius: 3px;
    background: #f00;
    color: #FFF;
}

.card-subtitle {
    font-size: 20px;
    color: red;
}

/*SURFING*/
.surf-main-info-card {
    position: absolute;
    top: 440px;
    width: 90%;
}

.social-link {
    text-decoration: underline;
}
/*END SURFING*/

/*CONTACT*/
.contact-main-info-card {
    margin-top: -130px;
}
/*END CONTACT*/

@media only screen and (max-width: 767px) {
    .dt-menu {
        display: none;
    }

    .app-bar-burger,
    .app-bar button {
        display: block !important;
    }

    .main-block {
        margin-top: 0;
    }

    .circles-block {
        margin-top: -143px;
        position: absolute;
    }

    .main-card {
        height: 100px !important;
        width: 100px !important;
    }

    .hero-title {
        margin-top: 90px;
        font-size: 50px;
    }

    .surfboard-card {
        background-position: -24px;
    }

    .cleanup-card {
        background-position: -39px;
    }

    .circles-block {
        margin-top: -270px;
    }

    .nav-logo {
        float: right;
        margin-right: 16px;
    }

    .hero {
        height: 350px;
    }

    .surf-main-info-card {
        top: 260px;
    }

    .card-margin-top {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 419px) {
    .card-margin-top {
        margin-top: 200px;
    }
}
