body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    color: #00B7FF;
}

.hero {
    background: url('../img/bg/blue-wave-wallpaper.jpg') 0 0 no-repeat;
    height: 550px;
}

.circles-block {
    margin-top: -115px;
}

.surfboard-card {
    background: url('../img/misc/surfboard.jpg') 0 0 no-repeat;
    background-position: -60px;
    background-size: 140%;
}
